@namespace CloudStreams.Dashboard.Components
@typeparam TData

@if (RenderContext != null) 
{
    <span>@RenderContext.Value</span>
}

@code {

    [Parameter]
    public CellRenderingContext<TData>? RenderContext { get; set; }

}
