@namespace CloudStreams.Dashboard.Pages.Gateways.List
@page "/gateways"
@using System.Reactive.Linq
@using CloudStreams.Dashboard.StateManagement
@inherits ResourceManagementComponent<Gateway>
@inject ICloudStreamsApiClient CloudStreamsApi

<ApplicationTitle>Gateways</ApplicationTitle>

<Table Items="gateways"
    AutoGenerateColumns="false"
    TableClass="table table-striped table-hover"
    RowClass="cursor-pointer">
    <RowTemplate>
        <Row RenderContext="context" OnClick="async _ => await OnShowResourceOffcanvasAsync(context.Item)" />
    </RowTemplate>
    <Columns>
        <Column TData="Gateway"
            ValueProvider="c => c.Metadata.Name">
            <HeaderTemplate>Name</HeaderTemplate>
        </Column>
        <Column TData="Gateway"
                ValueProvider="s => s.Metadata.CreationTimestamp">
            <HeaderTemplate>Created At</HeaderTemplate>
        </Column>
        <Column TData="Gateway"
                ValueProvider="c => c.Spec.Authorization == null ? null : c.Spec.Authorization.DecisionStrategy">
            <HeaderTemplate>Authorization Strategy</HeaderTemplate>
        </Column>
        <Column TData="Gateway"
                ValueProvider="c => c.Spec.Validation == null ? null : c.Spec.Validation.SkipValidation">
            <HeaderTemplate>Skip Validation</HeaderTemplate>
        </Column>
        <Column TData="Gateway" CssClass="text-end">
            <HeaderTemplate />
            <CellTemplate Context="context">
                <button class="btn btn-outline-danger btn-sm" title="Delete '@context.Item.Metadata.Name'" @onclick="async _ => await OnDeleteGateway(context.Item)" @onclick:preventDefault @onclick:stopPropagation><span class="bi bi-trash"></span></button>
            </CellTemplate>
        </Column>
    </Columns>
</Table>

<ResourceOffcanvas TResource="Gateway" @ref="offcanvas" Size="OffcanvasSize.Large" ReadOnly="true" UseBackdrop="false" />

<ConfirmDialog @ref="dialog" />

@code{

    List<Gateway>? gateways;
    ResourceOffcanvas<Gateway>? offcanvas;
    ConfirmDialog? dialog;

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync().ConfigureAwait(false);
        this.Store.Resources.Subscribe(OnGatewayCollectionChanged, token: this.CancellationTokenSource.Token);
        await this.Store.ListResourcesAsync().ConfigureAwait(false); ;
    }

    void OnGatewayCollectionChanged(List<Gateway>? gateways)
    {
        if (gateways == null) this.gateways = null;
        else this.gateways = gateways;
        this.StateHasChanged();
    }

    async Task OnDeleteGateway(Gateway gateway)
    {
        if (this.dialog == null) return;
        var confirmation = await this.dialog.ShowAsync(
            title: $"Are you sure you want to delete '{gateway.Metadata.Name}'?",
            message1: "The resource will be permanently deleted. Are you sure you want to proceed ?",
            confirmDialogOptions: new ConfirmDialogOptions()
                {
                    YesButtonColor = ButtonColor.Danger,
                    YesButtonText = "Delete",
                    NoButtonText = "Abort"
                }
        );
        if (!confirmation) return;
        await this.Store.DeleteResourceAsync(gateway).ConfigureAwait(false);
    }

    Task OnShowResourceOffcanvasAsync(Gateway gateway)
    {
        if (this.offcanvas == null) return Task.CompletedTask;
        this.offcanvas.SetResource(gateway);
        return this.offcanvas.ShowAsync();
    }

}