.timeline-tooltip {
    position: absolute;
    opacity: 0;
    pointer-events: auto;
    width: 500px;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: calc(0px - var(--bs-card-title-spacer-y));
        left: var(--bs-card-title-spacer-y);
        width: 1rem;
        height: 1rem;
        background: #252A2E; /*var(--bs-card-bg);*/
        border: var(--bs-card-border-width) solid var(--bs-card-border-color);
        border-width: var(--bs-card-border-width) 0 0 var(--bs-card-border-width);
        transform: rotate(45deg);
        z-index: 1;
    }
}
