@namespace CloudStreams.Dashboard.Pages.Channels.List
@page "/channels"
@using System.Reactive.Linq
@using CloudStreams.Dashboard.StateManagement
@inherits ResourceManagementComponent<Channel>
@inject ICloudStreamsApiClient CloudStreamsApi

<ApplicationTitle>Channels</ApplicationTitle>

<Table Items="channels"
    AutoGenerateColumns="false"
    TableClass="table table-striped table-hover">
    <Columns>
        <Column TData="Channel"
            ValueProvider="c => c.Metadata.Name">
            <HeaderTemplate>Name</HeaderTemplate>
        </Column>
        <Column TData="Channel"
                ValueProvider="c => c.Spec.Stream == null ? null : c.Spec.Stream.Offset">
            <HeaderTemplate>Desired Offset</HeaderTemplate>
        </Column>
        <Column TData="Channel">
            <HeaderTemplate />
            <CellTemplate Context="context">
                <button class="btn btn-outline-light btn-sm"><span class="bi bi-pencil"></span></button>
                <button class="btn btn-outline-light btn-sm" title="Deletes channel '@context.Item.Metadata.Name'" @onclick="async _ => await OnDeleteChannel(context.Item)"><span class="bi bi-trash"></span></button>
            </CellTemplate>
        </Column>
    </Columns>
</Table>

@code{

    List<Channel>? channels;

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync().ConfigureAwait(false);
        this.Store.Resources.Subscribe(OnChannelCollectionChanged);
        await this.Store.ListResourcesAsync().ConfigureAwait(false); ;
    }

    void OnChannelCollectionChanged(List<Channel>? channels)
    {
        if (channels == null) this.channels = null;
        else this.channels = channels;
        this.StateHasChanged();
    }

    async Task OnDeleteChannel(Channel channel)
    {
        await this.Store.DeleteResourceAsync(channel).ConfigureAwait(false);
    }

}