@namespace CloudStreams.Dashboard.Components
@typeparam TData

@if (RenderContext != null) 
{
    <span title="@RenderContext.Column.Description">@RenderContext.Column.Name</span>
}

@code {

    [Parameter] public ColumnHeaderRenderingContext<TData>? RenderContext { get; set; }

}
