@namespace CloudStreams.Dashboard.Pages.Networks.List
@page "/networks"
@inherits ResourceManagementComponent<Network>

<ApplicationTitle>Networks</ApplicationTitle>

<Table Items="resources"
    AutoGenerateColumns="false"
    TableClass="table table-striped table-hover"
    RowClass="cursor-pointer">
    <RowTemplate>
        <Row RenderContext="context" OnClick="async _ => await OnShowResourceDetailsAsync(context.Item)" />
    </RowTemplate>
    <Columns>
        <Column TData="Network"
            ValueProvider="n => n.Metadata.Name">
            <HeaderTemplate>Name</HeaderTemplate>
        </Column>
        <Column TData="Network"
            ValueProvider="s => s.Metadata.CreationTimestamp">
            <HeaderTemplate>Created At</HeaderTemplate>
        </Column>
        <Column TData="Network" CssClass="text-end">
            <HeaderTemplate />
            <CellTemplate Context="context">
                <button class="btn btn-outline-primary btn-sm" title="Edit '@context.Item.Metadata.Name'" @onclick="async _ => await OnShowResourceEditorAsync(context.Item)" @onclick:preventDefault @onclick:stopPropagation><Icon Name="IconName.Pencil" /></button>
                <button class="btn btn-outline-danger btn-sm" title="Delete '@context.Item.Metadata.Name'" @onclick="async _ => await OnDeleteResourceAsync(context.Item)" @onclick:preventDefault @onclick:stopPropagation><Icon Name="IconName.Trash" /></button>
            </CellTemplate>
        </Column>
    </Columns>
</Table>

<Offcanvas @ref="detailsOffcanvas" Size="OffcanvasSize.Large" UseBackdrop="false" BodyCssClass="d-flex flex-column" />

<Offcanvas @ref="editorOffcanvas" Size="OffcanvasSize.Large" UseBackdrop="false" BodyCssClass="d-flex flex-column" />

<ConfirmDialog @ref="dialog" />