@namespace CloudStreams.Dashboard.Pages.Networks.List
@page "/networks"
@using System.Reactive.Linq
@using CloudStreams.Dashboard.StateManagement
@inherits ResourceManagementComponent<Network>
@inject ICloudStreamsApiClient CloudStreamsApi

<ApplicationTitle>Networks</ApplicationTitle>

<Table Items="networks"
    AutoGenerateColumns="false"
    TableClass="table table-striped table-hover">
    <Columns>
        <Column TData="Network"
            ValueProvider="n => n.Metadata.Name">
            <HeaderTemplate>Name</HeaderTemplate>
        </Column>
        <Column TData="Network" CssClass="text-end">
            <HeaderTemplate />
            <CellTemplate Context="context">
                <button class="btn btn-outline-light btn-sm"><span class="bi bi-pencil"></span></button>
                <button class="btn btn-outline-light btn-sm" title="Deletes network '@context.Item.Metadata.Name'" @onclick="async _ => await OnDeleteNetwork(context.Item)"><span class="bi bi-trash"></span></button>
            </CellTemplate>
        </Column>
    </Columns>
</Table>

@code{

    List<Network>? networks;

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync().ConfigureAwait(false);
        this.Store.Resources.Subscribe(OnChannelCollectionChanged);
        await this.Store.ListResourcesAsync().ConfigureAwait(false); ;
    }

    void OnChannelCollectionChanged(List<Network>? networks)
    {
        if (networks == null) this.networks = null;
        else this.networks = networks;
        this.StateHasChanged();
    }

    async Task OnDeleteNetwork(Network network)
    {
        await this.Store.DeleteResourceAsync(network).ConfigureAwait(false);
    }

}