fromStream('cloud-events')
    .when({
        $init: () => [],
        $any: (stream, evt) => {
            if (!evt || !evt.metadataRaw || !evt.metadataRaw) return;
            const metadata = JSON.parse(evt.metadataRaw);
            const id = metadata.##metadataPath##;
            if (!id || stream.includes(id)) return;
            stream.push(id);
        }
    });