@namespace CloudStreams.Dashboard.Pages.Overview
@page "/"
@using System.Reactive.Linq
@using CloudStreams.Dashboard.StateManagement
@inject ICloudStreamsApiClient CloudStreamsApi

<ApplicationTitle>Overview</ApplicationTitle>

<h5>Events</h5>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header"><h6>Stream</h6></div>
            <div class="card-body">
                <table class="table table-striped mb-3">
                    <tbody>
                        <tr>
                            <td>Created at</td>
                            <td>@stream?.FirstEvent?.LocalDateTime.ToString("R")</td>
                        </tr>
                        <tr>
                            <td>Last modified</td>
                            <td>@stream?.LastEvent?.LocalDateTime.ToString("R")</td>
                        </tr>
                            <tr>
                            <td>Length</td>
                            <td>@stream?.Length"</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
       <div class="card">
            <div class="card-header"><h6>Partitions</h6></div>
            <div class="card-body">
                <b>Source</b>
                <table class="table table-striped mb-3">
                    <tbody>
                        <tr>
                            <td>Partitions</td>
                            <td>
                                <select class="form-control">
                                    @if(sourcePartitions != null)
                                    {
                                        @foreach(var partition in this.sourcePartitions)
                                        {
                                            <option>@partition</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@code{

    StreamMetadata? stream;
    List<string>? sourcePartitions;
    List<string>? typePartitions;
    List<string>? subjectPartitions;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.stream = await this.CloudStreamsApi.CloudEvents.Stream.GetStreamMetadataAsync().ConfigureAwait(false);
        this.sourcePartitions = (await (await this.CloudStreamsApi.CloudEvents.Partitions.ListPartitionsByTypeAsync(CloudEventPartitionType.BySource).ConfigureAwait(false)).ToListAsync().ConfigureAwait(false))!;
        this.typePartitions = (await (await this.CloudStreamsApi.CloudEvents.Partitions.ListPartitionsByTypeAsync(CloudEventPartitionType.ByType).ConfigureAwait(false)).ToListAsync().ConfigureAwait(false))!;
        this.subjectPartitions = (await (await this.CloudStreamsApi.CloudEvents.Partitions.ListPartitionsByTypeAsync(CloudEventPartitionType.BySubject).ConfigureAwait(false)).ToListAsync().ConfigureAwait(false))!;
    }

}