@namespace CloudStreams.Dashboard.Pages.Brokers.List
@page "/brokers"
@using System.Reactive.Linq
@using CloudStreams.Dashboard.StateManagement
@inherits ResourceManagementComponent<Broker>
@inject ICloudStreamsApiClient CloudStreamsApi

<ApplicationTitle>Brokers</ApplicationTitle>

<Table Items="brokers"
    AutoGenerateColumns="false"
    TableClass="table table-striped table-hover"
    RowClass="cursor-pointer">
    <RowTemplate>
        <Row RenderContext="context" OnClick="async _ => await OnShowResourceOffcanvasAsync(context.Item)" />
    </RowTemplate>
    <Columns>
        <Column TData="Broker"
                ValueProvider="b => b.Metadata.Name">
            <HeaderTemplate>Name</HeaderTemplate>
        </Column>
        <Column TData="Broker"
                ValueProvider="s => s.Metadata.CreationTimestamp">
            <HeaderTemplate>Created At</HeaderTemplate>
        </Column>
        <Column TData="Broker" CssClass="text-end">
            <HeaderTemplate />
            <CellTemplate Context="context">
                <button class="btn btn-outline-danger btn-sm" title="Delete '@context.Item.Metadata.Name'" @onclick="async _ => await OnDeleteBroker(context.Item)" @onclick:preventDefault @onclick:stopPropagation><span class="bi bi-trash"></span></button>
            </CellTemplate>
        </Column>
    </Columns>
</Table>

<Offcanvas @ref="offcanvas" Size="OffcanvasSize.Large" UseBackdrop="false" BodyCssClass="d-flex flex-column" />

<ConfirmDialog @ref="dialog" />

@code{

    List<Broker>? brokers;
    Offcanvas? offcanvas;
    ConfirmDialog? dialog;
    ResourceDefinition? definition;

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync().ConfigureAwait(false);
        this.Store.Definition.Subscribe(definition => this.definition = definition, token: this.CancellationTokenSource.Token);
        this.Store.Resources.Subscribe(OnBrokerCollectionChanged, token: this.CancellationTokenSource.Token);
        await this.Store.GetResourceDefinitionAsync().ConfigureAwait(false);
        await this.Store.ListResourcesAsync().ConfigureAwait(false);
    }

    void OnBrokerCollectionChanged(List<Broker>? brokers)
    {
        if (brokers == null) this.brokers = null;
        else this.brokers = brokers;
        this.StateHasChanged();
    }

    async Task OnDeleteBroker(Broker broker)
    {
        if (this.dialog == null) return;
        var confirmation = await this.dialog.ShowAsync(
            title: $"Are you sure you want to delete '{broker.Metadata.Name}'?",
            message1: "The resource will be permanently deleted. Are you sure you want to proceed ?",
            confirmDialogOptions: new ConfirmDialogOptions()
            {
                YesButtonColor = ButtonColor.Danger,
                YesButtonText = "Delete",
                NoButtonText = "Abort",
                IsVerticallyCentered = true
            }
        );
        if (!confirmation) return;
        await this.Store.DeleteResourceAsync(broker).ConfigureAwait(false);
    }

    Task OnShowResourceOffcanvasAsync(Broker broker)
    {
        if (this.offcanvas == null) return Task.CompletedTask;
        var parameters = new Dictionary<string, object>();
        parameters.Add("ReadOnly", true);
        parameters.Add("Resource", broker);
        parameters.Add("Definition", this.definition!);
        return this.offcanvas.ShowAsync<ResourceDetails<Broker>>(title: "Broker details", parameters: parameters);
    }

}