@namespace CloudStreams.Dashboard.Pages.Subscriptions.List
@page "/subscriptions"
@using System.Reactive.Linq
@using CloudStreams.Dashboard.StateManagement
@inherits ResourceManagementComponent<Subscription>
@inject ICloudStreamsApiClient CloudStreamsApi

<ApplicationTitle>Subscriptions</ApplicationTitle>

<Table Items="subscriptions"
    AutoGenerateColumns="false"
    TableClass="table table-striped table-hover"
    RowClass="cursor-pointer">
    <RowTemplate>
        <Row RenderContext="context" OnClick="async _ => await OnShowResourceOffcanvasAsync(context.Item)" />
    </RowTemplate>
    <Columns>
        <Column TData="Subscription"
                ValueProvider="s => s.Metadata.Name">
            <HeaderTemplate>Name</HeaderTemplate>
        </Column>
        <Column TData="Subscription"
                ValueProvider="s => s.Metadata.CreationTimestamp"
                Format="R">
            <HeaderTemplate>Created At</HeaderTemplate>
        </Column>
        <Column TData="Subscription"
                ValueProvider="@(s => s.Spec.Filter == null ? "no" : "yes")">
            <HeaderTemplate>Filter</HeaderTemplate>
        </Column>
        <Column TData="Subscription"
                ValueProvider="@(s => s.Spec.Mutation == null ? "no" : "yes")">
            <HeaderTemplate>Mutation</HeaderTemplate>
        </Column>
        <Column TData="Subscription"
                ValueProvider="@(s => s.Spec.Stream == null ? "-" : s.Spec.Stream.Offset)">
            <HeaderTemplate>Desired Offset</HeaderTemplate>
        </Column>
        <Column TData="Subscription"
                ValueProvider="s => s.Status == null || s.Status.Stream == null ? null : s.Status.Stream.AckedOffset">
            <HeaderTemplate>Acked Offset</HeaderTemplate>
        </Column>
        <Column TData="Subscription" CssClass="text-end">
            <HeaderTemplate />
            <CellTemplate Context="context">
                <button class="btn btn-outline-danger btn-sm" title="Delete '@context.Item.Metadata.Name'" @onclick="async _ => await OnDeleteSubscription(context.Item)" @onclick:preventDefault @onclick:stopPropagation><span class="bi bi-trash"></span></button>
            </CellTemplate>
        </Column>
    </Columns>
</Table>

<Offcanvas @ref="offcanvas" Size="OffcanvasSize.Large" UseBackdrop="false" BodyCssClass="d-flex flex-column" />

<ConfirmDialog @ref="dialog" />

@code{

    List<Subscription>? subscriptions;
    Offcanvas? offcanvas;
    ConfirmDialog? dialog;
    ResourceDefinition? definition;

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync().ConfigureAwait(false);
        this.Store.Definition.Subscribe(definition => this.definition = definition, token: this.CancellationTokenSource.Token);
        this.Store.Resources.Subscribe(OnSubscriptionCollectionChanged, token: this.CancellationTokenSource.Token);
        await this.Store.GetResourceDefinitionAsync().ConfigureAwait(false);
        await this.Store.ListResourcesAsync().ConfigureAwait(false); ;
    }

    void OnSubscriptionCollectionChanged(List<Subscription>? subscriptions)
    {
        if (subscriptions == null) this.subscriptions = null;
        else this.subscriptions = subscriptions;
        this.StateHasChanged();
    }

    async Task OnDeleteSubscription(Subscription subscription) 
    {
        if (this.dialog == null) return;
        var confirmation = await this.dialog.ShowAsync(
            title: $"Are you sure you want to delete '{subscription.Metadata.Name}'?",
            message1: "The resource will be permanently deleted. Are you sure you want to proceed ?",
            confirmDialogOptions: new ConfirmDialogOptions()
            {
                YesButtonColor = ButtonColor.Danger,
                YesButtonText = "Delete",
                NoButtonText = "Abort",
                IsVerticallyCentered = true
            }
        );
        if (!confirmation) return;
        await this.Store.DeleteResourceAsync(subscription);
    }

    Task OnShowResourceOffcanvasAsync(Subscription subscription)
    {
        if (this.offcanvas == null) return Task.CompletedTask;
        var parameters = new Dictionary<string, object>();
        parameters.Add("ReadOnly", true);
        parameters.Add("Resource", subscription);
        parameters.Add("Definition", this.definition!);
        return this.offcanvas.ShowAsync<ResourceDetails<Subscription>>(title: "Subscription details", parameters: parameters);
    }

}